@import "src/app/_commons/commons";

.add-note-form{
  position: relative;
}
h1{
  font-size: 30px;
  color: $background;
}
mat-form-field{
  width: 100%;
}
button{
  font-size: 23px;
  color: $background;
}
.mat-dialog-actions{
  justify-content: flex-end;
}
textarea{
  height: auto;
}
.mat-checkbox{
  position: absolute;
  left: 0;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: $background !important;
}

// overwrite the ripple overlay on hover and click
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: $background !important;
}
