@import "src/app/_commons/commons";

.household-card{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $blue;
  height: auto;
  overflow: hidden;

}
.header-image{
  background-image: url("/assets/img/house3.png");
  background-size: cover;
  background-position: center;
}

.content{
  display: table-cell;
  vertical-align: middle;
}
.centered-households{
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.mat-card-content p{
  padding: 2px;
  color: $dark;
}
.description{
  border-bottom: 1px solid $dark;
}
.mat-paginator{
  background: $blue;
  color: $dark;
}
table{
  width: 100%;
  background-color: $blue;
  border: 2px solid $dark;
  border-radius: 2px;
}

th{
  font-size: 16px;
}
.household-members-text{
  font-size: 18px;
  font-weight: bold;
}
