
<!--<div class="container">-->
<!--  <img src="/assets/img/note-image.png" alt="note">-->
<!--  <div class="text">-->
<!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem dolore exercitationem explicabo, fugiat harum iste mollitia natus porro praesentium quo repudiandae saepe sapiente! Ad asperiores dolorum repellendus sequi voluptatum!-->
<!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet autem, corporis culpa delectus distinctio dolore eius est facere ipsum labore libero nemo nostrum obcaecati quam quo similique tempora unde.-->
<!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias autem cupiditate fuga maiores quas quia quisquam rerum temporibus voluptate. Dolor et iste labore libero molestias perferendis quas ratione vel.-->
<!--  </div>-->
<!--</div>-->

<div class="inner-grid">
  <div class="note" *ngFor="let note of notesList" >
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias cumque deserunt expedita ipsum iure magni nisi ratione repellendus veniam. Aliquam aut, consequuntur eius minima possimus qui quos soluta voluptate.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut autem culpa cumque delectus distinctio dolorum eum expedita in ipsam maiores maxime nam natus, non perspiciatis rem, repellendus repudiandae suscipit.
    <!--  </div>-->
    <!--  <div>-->
    <!--    1-->
    <!--  </div>-->
    <!--  <div>2</div>-->
    <!--  <div>3</div>-->
  </div>
</div>

