@import "src/app/_commons/commons";


.title-div {
  text-align: center;
  text-decoration: none;
  background: $dark;
  border: 2px solid $dark;
  border-radius: 4px;
  color: $white-2;
  font-size: 25px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
}

.title-div[contenteditable=true] {
  background-color: lighten($dark, 15%);
}

.from-to-div {
  border: 2px solid $dark;
  border-radius: 4px;
}

.from-to-div a[disabled=true]{
  color: $error;
}
.text-block {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
}

.text-block:focus {
  outline: none;
}

.text-block[contenteditable=true] {
  background-color: lighten($blue, 15%);

}

[contenteditable=true] br{
  display:none;
}

.container img {
  width: 100%;
  max-width: 350px;
  height: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background: darken($background-brown,10%);

}

.note {
  min-height: 200px;
  min-width: 250px;
  max-width: 350px;
  background-color: $blue;
  margin: 5px;
  //overflow: hidden;
  position: relative;
  height: fit-content;
}
.note[disabled=true]{
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.35);
}

.control-buttons fa-icon:hover {
  background-color: darken($blue, 10%);
  cursor: pointer;
}

.note-footer {
  position: absolute;
  bottom: 2px;
  width: 100%;
  min-height: 0;
  overflow: hidden;
  display: table;

}

.created-text {
  float: left;
  display: table-cell;
  overflow: hidden;
  position: relative;
}

.created-text a {
  font-size: 14px;
  font-style: italic;
}

.control-buttons {
  float: right;
  display: table-cell;
}

.control-buttons fa-icon {
  margin: 2px;
}


.flex-container fa-icon {
  width: 100%;
}

.add-new {
  min-height: 200px;
  min-width: 200px;
  max-width: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-new fa-icon {
  font-size: 60px;
  color: $dark;
  cursor: pointer;
}

h1 {
  margin-left: 20px;
  color: $dark;
  text-align: center;
}

.mat-paginator{
  background: darken($background-brown,7%);
  color: $dark;
  font-size: 16px;
}
