<h1 *ngIf="notesArray.length==0">Don't have any notes yet. Add some!</h1>
<h1 *ngIf="notesArray.length>0">'{{getHousehold()}}' household notes:</h1>
<div class="flex-container">
  <div class="note" *ngFor="let note of notesArray">
    <div id="title-{{note.id}}" class="title-div">
      <a>{{note.title}}<br></a>
    </div>
    <div class="from-to-div">
      <a>From: {{note.creator}}</a><br>
      <a>To: {{note.recipent ? note.recipent : '-'}}</a><br>
      <a>Expires: {{note.expirationDate ? note.expirationDate : '-'}}</a>
    </div>

    <div id="msg-{{note.id}}" (paste)="onPaste($event,note)" class="text-block">
      <span>
        {{note.message}}
      </span>
    </div>

    <br>
    <div class="note-footer">
      <div class="created-text">
        <a>Created: {{dateFromObjectId(note.id)}}</a>
      </div>
      <div class="control-buttons">
        <fa-icon id="edit-{{note.id}}" (click)="changeEditMode(note)"
                 [icon]="currentlyEditedNote==note.id ? applyIcon:editIcon "
                 [matTooltip]="getTooltipEditMessage(note.creator)"></fa-icon>
        <fa-icon (click)="deleteNote(note)" [icon]="deleteIcon"
                 [matTooltip]="getTooltipDeleteMessage(note.creator)"></fa-icon>
      </div>
    </div>
  </div>

  <div class="add-new">
    <span (click)="openPopup()"><fa-icon [icon]="addIcon"></fa-icon></span>
  </div>

</div>

