@import "src/app/_commons/commons";

.header {
  overflow: hidden;
  background-color: $dark;
  padding: 20px 10px;
}
/* Style the header links */
.header a {
  float: left;
  color: $text-white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.mat-menu-content{
  background: $background-brown !important;
}
.mat-menu-item{
  color: $dark;
  font-size: 16px;
}
.mat-menu-panel {
  width: 100%!important;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: $blue;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #D2CDC4;
  color: #454245;
}

.header-right a.login {
  background-color: #A5C3C6;
  color: #454245;
  letter-spacing: 2px;
}
.header-right a.login:hover{
  background-color: lighten($blue,15%);
}
.header-right a:hover{
  cursor: pointer;
}
/* Float the link section to the right */
.header-right {
  float: right;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bold;
}

.header-left{
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: bold;
}
.header-left a{
  padding-left: 20px;
  padding-right: 20px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.account-dropdown a:hover{
  color: $text-white!important;
  background-color: $dark !important;
}


