<h1 *ngIf="checklistsArray.length==0">Don't have any checklists yet. Add some!</h1>
<h1 *ngIf="checklistsArray.length>0"><span class="household-name">{{householdName}}</span> household checklists:</h1>
<div class="flex-container">

  <div class="add-new" *ngIf="firstResult==0">
    <span (click)="openPopup()"><fa-icon [icon]="addIcon"></fa-icon></span>
  </div>

  <div class="checklist" *ngFor="let checklist of checklistsArray" [attr.disabled]="checkIfDisabled(checklist)">
    <div id="title-{{checklist.id}}" class="title-div" (keydown.enter)="changeChecklistEditMode(checklist)">{{checklist.title}}</div>

    <div class="from-to-div">
      <a>From: {{checklist.creator}}</a><br>
      <a>To: {{checklist.recipent ? checklist.recipent : '-'}}</a><br>
      <a [attr.disabled]="checkIfDisabled(checklist)">Expires: {{checklist.expirationDate ? checklist.expirationDate : '-'}} </a>
    </div>

    <div class="checklist-item" *ngFor="let item of checklist.itemList">
      <div id="item-{{checklist.id}}-{{checklist.itemList.indexOf(item)}}" [attr.isChecked]="item.isChecked" class="checklist-item-text" (keydown.enter)="changeItemEditMode(checklist,item)">{{item.message}}</div>

      <div class="checklist-item-menu">
        <button  mat-icon-button id="edit-{{checklist.id}}-{{checklist.itemList.indexOf(item)}}" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button id="apply-{{checklist.id}}-{{checklist.itemList.indexOf(item)}}" style="display: none" (click)="changeItemEditMode(checklist,item)">
          <mat-icon>check</mat-icon>
        </button>
        <mat-menu #menu=matMenu>
          <button mat-menu-item (click)="changeIsChecked(checklist,item)">
            <mat-icon>check</mat-icon>
            <span>{{item.isChecked ? 'Uncheck' : 'Check'}}</span>
          </button>
          <button mat-menu-item (click)="changeItemEditMode(checklist,item)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteChecklistItem(checklist,item)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="add-new-checklist-item" (click)="createNewChecklistItem(checklist)">
      <mat-icon>playlist_add</mat-icon>
    </div>
    <br>
    <div class="checklist-footer">
      <div class="created-text">
        <a>Created: {{dateFromObjectId(checklist.id)}}</a>
      </div>
      <div class="control-buttons">
        <fa-icon *ngIf="!checkIfDisabled(checklist)"
                 id="edit-{{checklist.id}}"
                 (click)="changeChecklistEditMode(checklist)"
                 [icon]="editIcon" [matTooltip]="getTooltipEditMessage(checklist.creator)"></fa-icon>
        <fa-icon id="apply-{{checklist.id}}" (click)="changeChecklistEditMode(checklist)" [icon]="applyIcon" style="display: none"></fa-icon>

        <fa-icon (click)="deleteChecklist(checklist)" [icon]="deleteIcon"
                 [matTooltip]="getTooltipDeleteMessage(checklist.creator)" ></fa-icon>
      </div>
    </div>
  </div>
</div>
<mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="maxItems" (page)="pageEvent = getPaginatedChecklists($event)" showFirstLastButtons></mat-paginator>

